.social{
  display: flex;
}

.social--footer{
  justify-content: center;

  .social__item{
    background: none;
    border-width: 2px;
    border-radius: 2px;
    border-color: #fff;

    &:hover{
      border-color: $black;
    }

  }
  .social__icon{
    fill:#fff;
  }
}


.social__item{
  height: 40px;
  width: 40px;
  margin-left: 4px;

  border: 1px solid $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $grey;
  background: $white;
  transition: background 0.1s linear;

  &:hover {
    .social__icon{
      fill:$black;
    }

    border-color: $black;
  }


  &:first-child{
    margin-left: 0;
  }

}

.social__icon{
  display: block;
  height: 18px;
  width: 100%;

}
