
.response{
  background: #53354a;
  overflow: hidden;
}

.response__content{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}

.response__photo{
  position: relative;
  width:50%;
}

.response__img{
position: absolute;
top: 50%;
right:0;
transform: translatey(-50%);
width: auto;
height: 100%;
}

.response__item{
  width: 50%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.response__text{
font-size: 36px;
line-height:1.1;

font-style: italic;
font-family: "Cardo";

margin-bottom: 40px;
}

.response__author{

line-height:1.6;

font-weight: 700;

}
