.download{
  margin: 100px 0;


}

.download__content{
display: flex;
flex-direction: column;
text-align: center;
line-height: 21px;

color: #2d3033;
}

.download__title{
  font-size: 28px;
  font-weight: 300;

  margin-bottom: 10px;
}

.download__subtitle{
font-weight: 700;

margin-bottom: 30px;
}

.download__button{

}
