.features{
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
}

.features__item{
  color: $black;

  text-align: center;
  padding: 40px;
  width: 33.33333%;
}

.features__img{
  margin-bottom: 20px;
}

.features__title{
  margin-bottom: 15px;

  font-weight: 700;
  text-transform: uppercase;


}

.features__text{
  line-height: 1.5;
}
