
body{
  font-size: 13px;
  font-weight: 400;
  font-family: 'Abel', sans-serif;
  color: $yellow;

}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  height: 100px;
  width: 100%;

  position: absolute; //fixed
  z-index: 2;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
}


.main{
  height: 1080px;
  width: 100%;
  background-color: $black;
}

.main__inner{
  display: inline-block;
  margin-top: 300px;
  height: 100%;
  max-width: 782px;
}

.main__tittle{
  font-size: 176px;
  letter-spacing: 10px;
  line-height: 1.1;
  color: $yellow;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.main__text{

  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.7;
  color: $white;

  margin-bottom:20px;
}

//  ************ QUOTE *************

.quote{
  background-color: $yellow;
}

.container__quote{
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.quote__text{
  color: $black;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: center;

  padding: 50px 0;
}

// *********** SERVICES ********
.services{
    margin: 120px 0;
}
.services__inner{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.services__item{
  width: 33.333%;
  padding-right: 35px;
  margin-bottom: 90px;
}

.services__tittle{
  margin: 45px 0;

  color: $yellow;
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3.75px;
}

.services__text{
  color: #181a1f;
  font-size: 15px;
  letter-spacing: 1.13px;
}

.services__image{
  width: 77px;
  background-color: $yellow;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 0;
}

.services__photo{
  display: block;
  width: 27px;
  height: 26px;
}



// ************** STATS ********//

.stats{
  background-color: $black;
}

.stats__inner{
  display: flex;
  flex-wrap: wrap;
}

.stats__item{
  width: 25%;
  margin: 90px 0;

  text-align: center;
}

.stats__prog{
  margin: 55px 0;

  height: 44px;
  color: $white;
  font-size: 60px;
}

.stats__name{
  text-transform: uppercase;
  color: $yellow;
  font-size: 20px;
  letter-spacing: 1.5px;
}

// ****************** PORTFOLIO *************//

.portfolio__tittle{
  margin: 120px 0 50px;

  color: $yellow;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3.75px;
}

.portfolio__text{

  color: $black;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.nav--margin{
  margin: 120px 0;
}
// ***************** WORKS ************* //

.works{
  height: 900px;
  display: flex;
}

.works__left{
  background-image: url(../img/works/works-1.jpg);
  background-position: center;
  background-size: cover;

  width: 25%;
}
.works__right{
  width: 75%;
}

.works__top{
  height: 50%;
  display: flex;
}


.top__left{

  width: 50%;
  background-image: url(../img/works/works-2.jpg);
  background-position: center;
  background-size: cover;
}

.top__right{

  width: 50%;
  background-image: url(../img/works/works-3.jpg);
  background-position: center;
  background-size: cover;
}

.works__btm{
  display: flex;
  height: 50%;
  width: 100%;
}
.btm__left{
  width: 35%;
  background-image: url(../img/works/works-4.jpg);
  background-position: center;
  background-size: cover;
}
.btm__center{
  width: 30%;
  background-image: url(../img/works/works-5.jpg);
  background-position: center;
  background-size: cover;
}
.btm__right{
  width: 35%;
  background-image: url(../img/works/works-6.jpg);
  background-position: center;
  background-size: cover;
}

.works__info{
  padding: 0 70px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s linear;

  &:hover{
    opacity: 1;
    background-color: rgba(255, 219, 0, 0.8);
  }
}

.works__tittle{
  font-size: 30px;
  letter-spacing: 2px;
  color: $black;

}

.works__text{
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.25;
  color: $white;

  margin: 40px 0;
}

.works__btn{
  display: block;
  color: $black;
  border: 2px solid #fff;

  padding: 15px 0;
  width: 180px;

  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;

  transition: all 0.3s linear;

  &:hover{
    border-color: $yellow;
    background: $yellow;
  }
}

// ************ SPONSOR ******************* //

.clients{
  background: $black;
}

.clients__item{
  padding: 120px 0;
}

.clients__tittle{
  font-size: 50px;
  letter-spacing: 4px;
  color: $yellow;
}
.clients__text{
font-size: 20px;
letter-spacing: 2px;
line-height: 1.25;
color: #ffffff;

margin: 50px 0 120px;
}

.sponsor__list{
  display: flex;
  justify-content: space-around;
}
