.teams{
  margin: 100px 0;
}

.teams__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.teams__item{
  width: 25%;
  color: $black;
  padding: 0 15px;
}

.teams__img{
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

.teams__name{
    margin-bottom: 15px;

    font-size: 22px;
}

.teams__prof{
    margin-bottom: 30px;
    text-transform: uppercase;

    color:$red;
    font-size: 13px;
}

.teams__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;

  margin-bottom: 20px;

}
